<!DOCTYPE html>
<html>
    <head>
        <title>Welcome email</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>Welcole on Hapi-Struct</h1>
        <p>
            You can confirm your account with this <a href="http://website.com/api/user/confirm/<%= token %>">link</a>
        </p>
    </body>
</html>